@font-face {
  font-family: 'Pixel Square';
  src: url('pixel_square_10.ttf') format('truetype');
}

@font-face {
  font-family: 'Pixel Square bold';
  src: url('pixel_square_bold10.ttf') format('truetype');
}
